.resources__link {
  margin: 0;
  padding: 0;
}

.resources__link:hover {
  opacity: .7;
  -webkit-transition: color 0.4 ease-out;
  -o-transition: color 0.4 ease-out;
  transition: color 0.4 ease-out;
}
