.footer__column-link {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.footer__column-link:hover {
  opacity: .7;
}
