@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotation {
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
}
