.header__subtitle {
  margin: 0 0 30px 64px;
  padding: 0;
  position: absolute;
  z-index: 2;
  max-width: 388px;
  align-self: flex-end;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
