.khan__buy-link {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: .7;
  -webkit-transition: color 0.4 ease-out;
  -o-transition: color 0.4 ease-out;
  transition: color 0.4 ease-out;
}
